.cards {
  margin-top: 10px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header > img {
  margin-right: 10px;
}

.card-content a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #2BA0E7;
  text-decoration: none;
}

.content-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #1C1D20;
}

/* flash-sale */
.flash-sale {
  display: flex;
  align-items: center;
  margin-inline: 10px;
}

.flash-sale > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #5A5C60;
}

.waktu-flash-sale {
  background: linear-gradient(225.66deg, #FFAA5D -30.42%, #F63C3C 91.94%);
  border-radius: 12px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.waktu-flash-sale > p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14.31px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0;
  margin-left: 5px;
}


/* card list */

.card-list {
  width: 85%;
  margin: auto;
  padding-inline: 25px;
  overflow: hidden;
  
}

/* swiper */

.swiper.swiper-card {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  overflow: visible;
}

.swiper-card .swiper-button-prev{
  left: -20px;
  width: 37px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.147427);
  border-radius: 50%;
}

.swiper-card .swiper-button-prev::before,
.swiper-card .swiper-button-prev::after {
  font-size: 18px;
  color: #333539;
}

.swiper-card .swiper-button-next{
  right: -20px;
  width: 37px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.147427);
  border-radius: 50%;
}

.swiper-card .swiper-button-next::before,
.swiper-card .swiper-button-next::after {
  font-size: 18px;
  color: #333539;
}

/* card */

.card {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 2.5px 3px rgba(0, 0, 0, 0.131556));
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-image > img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-detail {
  padding: 10px;
  box-sizing: border-box;
}

.card-arkademi {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #94969B;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.card-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #1C1D20;
  margin-top: 5px;
}

.rating {
  display: flex;
  align-items: center;
  margin-block: 2px;
}

.rating > img {
  margin-right: 5px;
}

.rating > p:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10.9439px;
  line-height: 13px;
  color: #3E3F43;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-right: 8px;
}

.rating > p:nth-child(3) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10.9439px;
  line-height: 13px;
  color: #3E3F43;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.kolom-diskon {
  display: flex;
  align-items: center;
}

.diskon {
  background: #FFE0E0;
  border-radius: 3px;
  padding: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 10.5px;
  line-height: 13px;
  color: #F94759;
  display: flex;
  align-items: center;
  justify-content: center;
}

.harga-diskon {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10.5px;
  line-height: 13px;
  text-decoration-line: line-through;
  color: #94969B;
  margin-left: 5px;
}

.harga {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #1C1D20;
  margin-block: 5px;
}