.navbar-mobile {
  background: linear-gradient(192.48deg, #0977BE -120.7%, #1C88CE 285.22%);
  filter: drop-shadow(0px 2px 7px rgba(31, 46, 60, 0.179988));
}

.navbar-container-wrapper-mobile {
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container-mobile img {
  margin-inline: 10px;
}

.navbar-container-mobile .arkademi-logo-mobile {
  margin-left: 0;
  height: 21px;
}

.menu-kanan-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pencarian-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  height: 32px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-top: 8px;
}

.pencarian-mobile > input {
  width: 90%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ACAEB2;
  border: none;
  outline:0; 
  margin-left: 10px;
}

.tombol-registrasi-mobile {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.tombol-registrasi-mobile a {
  padding: 5px 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

.tombol-masuk-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.tombol-masuk-mobile > a {
  color: #0977BE;
}

.tombol-daftar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background: #1E95DD;
  border-radius: 5px;
  cursor: pointer;
}

.tombol-daftar-mobile > a {
  color: #FFFFFF;
}

