.footer {
  margin: 0;
}

.footer-pertama {
  background: linear-gradient(180deg, #F3F5F7 0%, #FFFFFF 100%);
  border-bottom: 3px solid #F1F2F4;
}

.arkademi-footer {
  display: flex;
  align-items: center;
}

.arkademi-footer >  img{
  width: 385px;
  margin-right: 50px;
}

.arkademi > p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 11.8734px;
  line-height: 19px;
  color: #333539;
}

.akselerator > h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 14.6135px;
  line-height: 18px;
  color: #333539;
  margin: 0;
  margin-top: 30px;
}

.akselerator > p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 11.8734px;
  line-height: 20px;
  color: #5A5C60;
}

.image-akselerator > img {
  margin-right: 15px;
}

/* footer kedua */
.footer-kedua{
  margin-block: 50px;
}

.footer-kedua-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-kategori {
  width: 20%;
}

.footer-lainnya {
  width: 17%;
}

.footer-pembayaran{
  width: 35%;
}

.footer-media {
  width: 28%;
}

.footer-kedua-wrapper p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #333539;
}

.footer-kedua-wrapper ul {
  padding: 0;
}

.footer-kedua-wrapper li {
  list-style: none;
}

.footer-kedua-wrapper a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 29px;
  color: #5A5C60;
}

.logo-pembayaran {
  width: 60%;
}

.logo-pembayaran img {
  margin-right: 10px;
  line-height: 10px;
}

.sosmed img {
  margin-right: 10px;
}

.app-mobile img {
  width: 134.27px;
  margin-right: 5px;
}

/* footer ketiga */
.footer-ketiga{
  background: #F1F2F4;
}

.footer-ketiga-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-ketiga-wrapper > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 16px;
  color: #94969B;
}

.footer-ketentuan > a:nth-child(1) {
  margin-right: 50px;
}

.footer-ketentuan > a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #5A5C60;
}